<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Yahoo</title>
</head>

<body>
    <div class="d-flex align-items-center justify-content-between px-5 py-4">
        <div>
            <img style="height: 35px" src="https://s.yimg.com/rz/p/yahoo_frontpage_en-US_s_f_p_bestfit_frontpage_2x.png"
                alt="" />
        </div>
        <div>
            <a class="text-decoration-none"
                href="https://help.yahoo.com/kb/index?locale=en_US&page=product&y=PROD_ACCT">Help</a>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-7 pe-4">
                    <div class="my-5">
                        <h3 class="fw-bold">
                            Yahoo makes it easy to enjoy what matters most in your world.
                        </h3>
                        <p style="font-size: larger">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum et
                            id dolore. Quidem eos dolorem laboriosam eligendi vel magni ullam
                            eum! Aut veniam amet, nostrum et minus pariatur eligendi omnis!.
                        </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="shadow-sm border p-4" style="width: 350px;">
                        <div class="d-flex flex-column align-items-center">
                            <img style="height: 30px"
                                src="https://s.yimg.com/rz/p/yahoo_frontpage_en-US_s_f_p_bestfit_frontpage_2x.png"
                                alt="" />
                            <p class="my-4">Hi, there!</p>

                            <h4>Welcome to Yahoo Mail</h3>
                                <p>Select an account to sign in or manage a saved account on this devic</p>

                                <div class="my-4 border rounded-sm w-100 p-1 d-flex justify-content-between">
                                    <div class="d-flex gap-2">
                                        <i class="bi bi-person-circle"></i>
                                        <div class="d-flex flex-column gap-0">
                                            <h6>AKIMANA Gabriel</h6>
                                            <span>gabsonbill@yahoo.com</span>
                                            <span class="text-muted">Signed out</span>
                                        </div>
                                    </div>
                                    <div>
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </div>
                                </div>
                                <div class="pt-5">
                                    <a class="text-decoration-none" href="https://login.yahoo.com/?.intl=us&.lang=en-US&src=ym&activity=mail-direct&pspid=159600001&done=https%3A%2F%2Fmail.yahoo.com%2Fd&add=1">Use another account</a>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>